/*@media screen  and (min-width:769px) and (max-width:1024px) {
		
.architect-design {
    background: none repeat scroll 0 0 #de5c05;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    height: 249px;
    margin: 0;
    padding: 0;
    width: 50%;
}
.slider_box .container .col-md-4 {
    padding: 0;
    width:49.5%;
}
.fl.col-md-4 > img {
    float: left;
    width: 100%;
				display:none;
}
.slider_box .container .col-md-8 {
    float: right;
    padding: 0;
    width: 49.5%;
}
.slider_box .container .col-md-4 div.cl{ display:none;}
.fl.col-md-4 > img { float: left;}
.architect-design {
    background: none repeat scroll 0 0 #de5c05;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    height: 255px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.architect-design h3 {
    font-size: 28px;
    margin: 0;
    padding: 15px 0 0 15px;
}

.slider_box .container .col-md-4 .architect-design div.cl{ display:block;}

.partner_cont .partner_box_l {
    background: none repeat scroll 0 0 #6eb5ed;
    height: 283px;
    margin: 0;
    padding: 20px 0 20px 20px;
    width: 100%;
				float:left;
}
.partner_cont .partner_box_r {
    margin: 0;
    padding: 0;
    width:100%;
}
.partner_cont .partner_box_r img{width:100%;}

.about-innoviade .container .col-md-4{ min-height:549px;}

.about-innoviade .about {
    background: none repeat scroll 0 0 #3aa4b3;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    min-height: 365px;
    padding: 0 15px;
    position: relative;
    width: 32.5%;
}
.about-innoviade .about h3 {
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
}
.about-innoviade .about i {
    background: none repeat scroll 0 0 #76cad9;
    bottom: 0;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    right: 0;
}
.about-innoviade .about img {
    margin: 0 0 0 -14px;
    width: 113.5%;
}

.about-innoviade .client {
    background: none repeat scroll 0 0 #7eb300;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    margin: 0 9px;
    min-height: 384px;
    padding: 0 15px;
    position: relative;
    width: 32.5%;
}
.about-innoviade .client i {
    background: none repeat scroll 0 0 #91c80d;
    color: #ffffff;
    float: left;
    font-size: 30px;
    margin: 0 0 0 -15px;
    padding: 10px 18px;
}
.about-innoviade .client h3 {
    float: left;
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 77%;
}
.about-innoviade .client name {
    font-size: 16px;
    margin: 0;
    width: 100%;
}

.about-innoviade .latest {
    background: none repeat scroll 0 0 #790ecc;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    margin: 0;
    min-height: 384px;
    padding: 0 15px;
    position: relative;
    width: 32.5%;
}
.about-innoviade .latest h3 {
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
}
.about-innoviade .latest i {
    background: none repeat scroll 0 0 #a315ec;
    bottom: 0;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    right: 0;
}
				
				
}*/

@media screen and (max-width:900px) {
.footer-top-blog-1{ width:50%;}
.footer-top-blog-2{ width:50%; padding-bottom:40px;}
.footer-top-blog-3{ width:50%;}
.footer-top-blog-4{ width:50%;}
.footer-top-blog-3 p{ padding:0; line-height:10px;}
.from-concept-left{ width:65%;}
.from-concept-right{ width:35%;}
}
@media screen and (max-width:1024px){
.partner_cont .partner_box_l {
    background: none repeat scroll 0 0 #6eb5ed;
    height: 279px;
    margin: 0;
    padding: 20px 0 20px 20px;
    width:511px;
}
.partner_cont .partner_box_r {
    margin: 0;
    padding: 0;
    width: 459px;
}
.partner_cont .partner_box_r img{ width:100%;}

.partner_cont .partner_box_l p {
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
}
.partner_cont .partner_box_l i {
    background: none repeat scroll 0 0 #216ba1;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin: -28px 0 0;
    padding: 7px 15px;
}
.slider_box .container .fl.col-md-4 > img {width: 100%;}
.architect-design h3 {
    font-size: 27px;
    margin: 0;
    padding: 15px 0 0 15px;
}
.architect-design {
    background: none repeat scroll 0 0 #de5c05;
    color: #ffffff;
    font-family: 'Maven Pro',sans-serif;
    height: 146px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.about-innoviade .client { margin: 0 12px;}
.about-innoviade .container .col-md-4{ min-height:432px;}
.about-innoviade .about img {
    margin: 0 0 0 -14px;
    width: 110%;
}
.about-innoviade .about i {
    bottom: 0;
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    right: 0;
}
.about-innoviade .client i {
    margin: 0 0 0 -10px;
    padding: 10px 18px;
}
.about-innoviade .latest i {
    bottom: 0;
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    right: 0;
}


}


@media screen and (max-width:768px){
.slider_box .container .col-md-8{display:none;}
.slider_box .container .col-md-8.mobile_slider{display: block;
    float: left;
    margin: 0 0 15px;
    width: 100%;}
				
.architect-design {
    background: none repeat scroll 0 0 #de5c05;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    height: 249px;
    margin: 0;
    padding: 0;
    width: 50%;
}
.slider_box .container .col-md-4 {
    padding: 0;
    width: 100%;
}
.slider_box .container .col-md-4 div.cl{ display:none;}
.fl.col-md-4 > img { float: left;}
.architect-design {
    background: none repeat scroll 0 0 #de5c05;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    height: 255px;
    margin: 0;
    padding: 0;
    width: 48.7%;
}
.slider_box .container .col-md-4 .architect-design div.cl{ display:block;}

.partner_cont .partner_box_l {
    background: none repeat scroll 0 0 #6eb5ed;
    height: 283px;
    margin: 0;
    padding: 20px 0 20px 20px;
    width: 100%;
				float:left;
}
.partner_cont .partner_box_r {
    margin: 0;
    padding: 0;
    width:100%;
}
.partner_cont .partner_box_r img{width:100%;}

.about-innoviade .container .col-md-4{ min-height:549px;}

.about-innoviade .about {
    background: none repeat scroll 0 0 #3aa4b3;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    min-height: 365px;
    padding: 0 15px;
    position: relative;
    width: 32.5%;
}
.about-innoviade .about h3 {
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
}
.about-innoviade .about i {
    background: none repeat scroll 0 0 #76cad9;
    bottom: 0;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    right: 0;
}
.about-innoviade .about img {
    margin: 0 0 0 -14px;
    width: 113.5%;
}

.about-innoviade .client {
    background: none repeat scroll 0 0 #7eb300;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    margin: 0 9px;
    min-height: 384px;
    padding: 0 15px;
    position: relative;
    width: 32.5%;
}
.about-innoviade .client i {
    background: none repeat scroll 0 0 #91c80d;
    color: #ffffff;
    float: left;
    font-size: 30px;
    margin: 0 0 0 -15px;
    padding: 10px 18px;
}
.about-innoviade .client h3 {
    float: left;
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 77%;
}
.about-innoviade .client name {
    font-size: 16px;
    margin: 0;
    width: 100%;
}

.about-innoviade .latest {
    background: none repeat scroll 0 0 #790ecc;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    margin: 0;
    min-height: 384px;
    padding: 0 15px;
    position: relative;
    width: 32.5%;
}
.about-innoviade .latest h3 {
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
}
.about-innoviade .latest i {
    background: none repeat scroll 0 0 #a315ec;
    bottom: 0;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    right: 0;
}


}

@media screen and (max-width:640px) {
.from-concept-left{ width:100%;}
.from-concept-right{ width:100%;}
}

@media screen and (max-width:480px) {
.footer-top-blog-1{ width:100%;}
.footer-top-blog-2{ width:100%; padding-bottom:0px;}
.footer-top-blog-3{ width:100%;}
.footer-top-blog-4{ width:100%; margin-top:15px;}
}

@media screen  and (min-width:320px) and (max-width:360px) {
.header-right{ width:100%;}
.header-right .socelmediaicon{  float: left;
    margin: 0 auto;
    padding: 13px 25%;
    text-align: center;
    width: 100%;}
.search-bar {
    float: left;
    margin: 0;
    padding: 0 11%;
    width: 100%;
}
#header .header-top ul li{ border:none;font-size: 18px;
    margin: 0 5px;
    padding: 10px 20px;}
#header .header-top ul li:first-child {
    border-left:none;
    float: left;
    font-size: 18px;
    margin: 0 5px;
    padding: 5px 0 5px 10px;
    width:97%;
				text-align:center;
}


.partner_cont {
    font-family: 'Maven Pro',sans-serif;
    margin:1% 0;
    padding: 0 1% 0px;
    width: 100%;
}
.partner_cont .partner_box_r {
    margin: 0;
    padding: 0;
    width: 100%;
}

.partner_cont .partner_box_r img{width:100%;}

.about-innoviade {
    display: block;
    font-family: 'Maven Pro',sans-serif;
    margin: 0 0 15px;
    padding: 0 1% 25px;
    width: 100%;
}

.about-innoviade .about {
    background: none repeat scroll 0 0 #3aa4b3;
    color: #ffffff;
    font-family: 'Maven Pro',sans-serif;
    min-height: 365px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}
.about-innoviade .about img {
    margin:0 0 0 -4.4%;
    width:109%;
}
.about-innoviade .about i {
    background: none repeat scroll 0 0 #76cad9;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin:-19px -15px 0 0;
    padding: 7px 15px;
}
.about-innoviade .client {
    background: none repeat scroll 0 0 #7eb300;
    color: #ffffff;
    font-family: 'Maven Pro',sans-serif;
    margin: 2% 0;
    min-height: 384px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}
.about-innoviade .client i {
    background: none repeat scroll 0 0 #91c80d;
    color: #ffffff;
    float: left;
    font-size: 30px;
    margin: 0 0 0 -15px;
    padding: 10px 18px;
}

.about-innoviade .latest {
    background: none repeat scroll 0 0 #790ecc;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    margin: 0;
    padding: 0 15px;
    position: relative;
    width: 100%;
				min-height:inherit;
}
.about-innoviade .latest i {
    background: none repeat scroll 0 0 #a315ec;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin: -7px -15px 0 0;
    padding: 7px 15px;
}
.from-concept-left h2 {
    color: #ffffff;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 28px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.from-concept-right img {
    padding: 5% 0;
    width: 100%;
}
.frequent-queries {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #cbcbcb;
    padding: 0 1% 20px;
    width: 100%;
}

}
@media screen and (min-width:361px) and (max-width:640px) {
.header-right {
    float: left;
    margin: 0;
    padding: 15px 6.6%;
    width: auto;
}
.partner_cont {
    font-family: 'Maven Pro',sans-serif;
    margin: 0;
    padding: 1%;
    width: 100%;
}
.partner_cont .partner_box_l i {
    background: none repeat scroll 0 0 #216ba1;
    color: #ffffff;
    float: right;
    font-size: 30px;
    margin: 0 -9px -10px 0;
    padding: 7px 15px;
}
.partner_cont .partner_box_r {
    margin: 0;
    padding: 0;
    width: 100%;
}

.partner_cont .partner_box_r img{width: 100%;}

.about-innoviade {
    display: block;
    font-family: 'Maven Pro',sans-serif;
    margin: 0 0 15px;
    padding: 0 1%;
    width: 100%;
}
.about-innoviade .about {
    background: none repeat scroll 0 0 #3aa4b3;
    color: #ffffff;
    font-family: 'Maven Pro',sans-serif;
    min-height:inherit;
    padding:0 15px 29px 15px;
    position: relative;
    width: 100%;
}

.about-innoviade .about img {
    margin: 0 0 0 -14px;
    width: 106.5%;
}
.about-innoviade .client {
    background: none repeat scroll 0 0 #7eb300;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    margin: 1% 0;
    min-height: inherit;
    padding: 0 15px;
    position: relative;
    width: 100%;
}
.about-innoviade .client i {
    background: none repeat scroll 0 0 #91c80d;
    color: #ffffff;
    float: left;
    font-size: 30px;
    margin: 0 0 0 -15px;
    padding: 10px 18px;
}

.about-innoviade .latest {
    background: none repeat scroll 0 0 #790ecc;
    color: #ffffff;
    float: left;
    font-family: 'Maven Pro',sans-serif;
    margin: 0;
    min-height:inherit;
    padding: 0 15px;
    position: relative;
    width: 100%;
}
.footer-top-blog-3 {
    width: 100%;
}
.footer-top-blog-4 {
    margin: 3% 0 0;
    padding: 0 0 0;
    width: 100%;
}

}

@media screen and (min-width:320px) and (max-width:640px) {
.header-fix{position:inherit !important; height:auto;}
.heaer-top-fix {transition: height 0.3s ease 0s;height:auto !important;}
nav .container{display:none;}
nav.site-navigation{ display:block;}
section.header-middel .container .fl{ width:100%; text-align:center;}
#contect {
    background:#f8f8f8;
    margin: 0;
    padding: 0;
    width: 100%;
}
.slider_box {margin: 0;padding: 0 1%;width: 100%;}
.slider_box .container .col-md-4{ width:100%;}
.slider_box .container .col-md-4 img{ width:100%;}
.slider_box .container .col-md-8{display:none;}

.slider_box .container .col-md-8.mobile_slider{display:block; margin:0 0 15px 0;}

.slider_box .container .col-md-8 {
    float: left;
    padding: 0;
    width: 100%;
}

.architect-design h3 {
    font-size: 25px;
    margin: 0;
    padding: 15px 0 0 15px;
}
.partner_cont .partner_box_l {
    background:#6eb5ed;
    height: auto;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.performance_cont {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #cccccc;
    padding: 0 1%;
    width: 100%;
}

.performance_cont .container .coll-6 {
    float: left;
    font-family: 'Maven Pro',sans-serif;
    padding: 0 6px;
    width: 100%;
}

.performance_cont .container .colr-6 {
    float: left;
    padding: 0 6px;
    width: 100%;
}
.footer-top{ padding:0 2%;}

.from-concept-right img {
    padding: 5% 0;
    width: 100%;
}
.frequent-queries {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #cbcbcb;
    padding: 0 1% 20px;
    width: 100%;
}

}